.page15 {
	transform: translate(0, 701px);
	background: #222533;
	nav {
		ul {
			display: flex;
			align-items: center;
			margin-left: 327px;
			li {
				list-style: none;
				margin-left: 52px;
				margin-top: 36px;
				img {
					object-fit: contain;
				}
				&:nth-child(2) {
					margin-left: 76px;
				}
				&:nth-child(3) {
					margin-left: 74px;
				}
				&:nth-child(4) {
					margin-left: 79px;
				}
				&:nth-child(5) {
					margin-left: 79px;
				}
				&:nth-child(6) {
					margin-left: 76px;
					margin-top: 40px;
				}
				&:nth-child(7) {
					margin-left: 74px;
					margin-top: 36px;
				}
				&:nth-child(8) {
					margin-left: 74px;
					margin-top: 39px;
				}
				&:nth-child(9) {
					margin-left: 73px;
					margin-top: 38px;
				}
				&:nth-child(10) {
					margin-left: 77px;
					margin-top: 35px;
				}
				&:nth-child(11) {
					margin-left: 82px;
					margin-top: 36px;
				}
				&:nth-child(12) {
					margin-left: 74px;
					margin-top: 37px;
				}
			}
		}
	}
}
